@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
*{   font-family: "Archivo Black", sans-serif;}
.project-sec{
   width: 100%; background: #3893FF; ; box-sizing: border-box; padding: 10% 5%;
   .ja-slide-wrap{
      max-width: 1640px; width: 100%; margin: 0 auto; 
      .title{ display: flex; flex-direction: row; justify-content: start; margin-top: 50px;
      h1{margin-right: 50px; font-size: 4rem; color: #FFE247;}}
      .slide-j{ width: 100%;
         ul{ width: 100%;display: flex; justify-content: space-between; height: fit-content; 
            li{ position: relative; border-radius: 30px; margin-top: 15px;  
               .white-box{ width: 100%;  height: 100%;overflow: hidden;border-radius: 30px;transition: .2s;
                  >span{background:  
                     #ffffff ; border-radius: 30px; padding: 3%; color:  #3893FF;;  font-size: 2rem; position: absolute; top: -12%; right:  5%; font-weight: bolder; transition: .3s; z-index: 20; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
                  &:hover .desbox{ opacity: 1;}
                 
                  &:hover {/* transform: scale(1.1); */ box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
               }
               img{height: 100%;
                  width: 100%;
               }
             
            
               .desbox{position: absolute; top: 0; right: 0;  opacity: 0;transition: .3s; width: 60%; background: rgba(129, 18, 18, 0.445); height: 100%;
                 border-radius: 0 30px 30px 0;
                  padding: 5%;  box-sizing: border-box;   background: rgba(255, 255, 255, 0.349); overflow: hidden;
                  .skill-box{display: flex; justify-content: space-around;
                  img{width: 25%;}
                 
               }

            }
          
            .yell-box{position: absolute; top: -5%; left: 10%;
               span{color: black; background: #FFE247; padding:12px;   border-radius: 30px; text-align: center; font-size: 2rem; font-weight: bolder;  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}}
            } 
         }
      }

   }
}
.swiper-wrapper{
padding: 5% 0;
} 