.skill-sec{width: 100%; height: 800px; background: #FFC700;
display: flex; text-align: center;
.s-lbox{width: 70%; display: flex; align-items: center;
.front-box{width: 80%; background: white;height: 60%;  margin: 0 auto; border-radius: 100px;}}
.s-rbox{width: 30%; display: flex ; align-items: center;
.design-box{  width: 50%; background: white;height: 60%;  margin: 0 auto;  border-radius: 100px;}}
}

