.skill-sec{width: 100%; background: #FFC700; position: relative; overflow: hidden; margin: 0 auto;  box-sizing: border-box;

 
.s-wrap{ width: 100%; max-width: 1440px;  margin:  0 auto; display: flex; text-align: center; justify-content: space-between;
   .s-lbox{width: 1000px;   display: flex; align-items: center;   height: 1000px;
.front-box{width: 100%; background: white;height: 62%;  margin: 0 auto; border-radius: 100px; padding: 5%; box-sizing: border-box; display: flex; align-items: center;}
ul{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items:center; width: 100%; ;  box-sizing: border-box;  height: 100%;
   li{width: 150px; box-sizing: border-box; margin: 0 2%;
      .skill-box{width: 100%; box-sizing: border-box;
         img{width: 100%;}
      }
   }
}}
.s-rbox{width: 350px;  height: 1000px; display: flex ; align-items: center;
.design-box{ width: 100%; background: white;height: 62%;  margin: 0 auto;  border-radius: 100px;
ul{display: flex; flex-direction: column; padding: 20% 0; height: 100%; justify-content: space-between; align-items: center; width: 100%; box-sizing: border-box;
   li{width: 40%; 
      div{width: 100%;
         img{width: 100%;}
      }
   }
}}

}
.cir{position: absolute; background: #ffdf6b; border:solid white 8px; border-radius: 50%;}
.cir-1{position: absolute; top: -20%; left: -10%; width: 20%; padding-bottom: 20%;} 
.cir-2{position: absolute; bottom: 3%; left: 2%; width: 7%; padding-bottom: 7%; border: none; } 
.cir-3{position: absolute; bottom: -15%; right: -10%; width: 25%; padding-bottom: 25%;} 
}


}
@media all and (min-width:1284px) and (max-width:1540px) { 
   .skill-sec{
 
      .s-wrap{ padding: 0 2%; box-sizing: border-box; justify-content: space-between;
         .s-lbox{width: 900px;   height: 900px;
      .front-box{width: 100%; background: white;height: 62%;  margin: 0 auto; border-radius: 100px; padding: 5%; box-sizing: border-box; display: flex; align-items: center;}
      ul{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items:center; width: 100%; ;  box-sizing: border-box;  height: 100%;
         li{width: 150px; box-sizing: border-box; margin: 0 2%;
            .skill-box{width: 100%; box-sizing: border-box;
               img{width: 100%;}
            }
         }
      }}
      .s-rbox{width: 300px;  height: 900px; 
      .design-box{ width: 100%; background: white;height: 62%;  margin: 0 auto;  border-radius: 100px;
      ul{display: flex; flex-direction: column; padding: 20% 0; height: 100%; justify-content: space-between; align-items: center; width: 100%; box-sizing: border-box;
      /*    li{width: 40%; 
            div{width: 100%;
               img{width: 100%;}
            }
         } */
      }}
      
      }
/*       .cir{position: absolute; background: #ffdf6b; border:solid white 8px; border-radius: 50%;}
      .cir-1{position: absolute; top: -20%; left: -10%; width: 20%; padding-bottom: 20%;} 
      .cir-2{position: absolute; bottom: 3%; left: 2%; width: 7%; padding-bottom: 7%; border: none; } 
      .cir-3{position: absolute; bottom: -15%; right: -10%; width: 25%; padding-bottom: 25%;}  */
      }
      
      
      }
  
} 


/* 테블릿 가로 (해상도 1023px ~ 1284px)*/ 
@media all and (min-width:1023px) and (max-width:1284px) { 
   .skill-sec{
 
      .s-wrap{ padding: 0 2%; box-sizing: border-box; justify-content: space-between;
         .s-lbox{width: 750px;   height: 800px;
      .front-box{ display: flex; align-items: center;}
      ul{display: flex; flex-direction: row;  justify-content: space-evenly; align-items:center; 
         li{width: 100px; box-sizing: border-box; margin: 0 3%;
          
         }
      }}
      .s-rbox{width: 200px;  height: 800px; 
      .design-box{ width: 100%; background: white;height: 62%;  margin: 0 auto;  border-radius: 60px;
      ul{display: flex; flex-direction: column; padding: 35% 0; height: 100%; justify-content: space-between; align-items: center; width: 100%; box-sizing: border-box;
         li{width: 45%; 
          
         } 
      }}
      
      }
/*       .cir{position: absolute; background: #ffdf6b; border:solid white 8px; border-radius: 50%;}
      .cir-1{position: absolute; top: -20%; left: -10%; width: 20%; padding-bottom: 20%;} 
      .cir-2{position: absolute; bottom: 3%; left: 2%; width: 7%; padding-bottom: 7%; border: none; } 
      .cir-3{position: absolute; bottom: -15%; right: -10%; width: 25%; padding-bottom: 25%;}  */
      }
      
      
      }
  

} 
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
   .skill-sec{
 
      .s-wrap{ padding: 0 3%; box-sizing: border-box; justify-content: space-between;
         .s-lbox{width: 550px;   height: 600px; padding: 0;
      .front-box{ display: flex; align-items: center;}
      ul{display: flex; flex-direction: row;  justify-content: space-around; align-items:center; 
         li{width: 90px; box-sizing: border-box; margin: 0 3%;
          
         }
      }}
      .s-rbox{width: 150px;  height: 600px; 
      .design-box{ width: 100%; background: white;height: 62%;  margin: 0 auto;  border-radius: 60px;
      ul{display: flex; flex-direction: column; padding: 35% 0; height: 100%; justify-content: space-between; align-items: center; width: 100%; box-sizing: border-box;
         li{width: 45%; 
          
         } 
      }}
      
      }
/*       .cir{position: absolute; background: #ffdf6b; border:solid white 8px; border-radius: 50%;}
      .cir-1{position: absolute; top: -20%; left: -10%; width: 20%; padding-bottom: 20%;} 
      .cir-2{position: absolute; bottom: 3%; left: 2%; width: 7%; padding-bottom: 7%; border: none; } 
      .cir-3{position: absolute; bottom: -15%; right: -10%; width: 25%; padding-bottom: 25%;}  */
      }
      
      
      }
  

} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  
   .skill-sec{
 position: relative;
      .s-wrap{ padding: 0 10%; box-sizing: border-box; justify-content: space-between; flex-direction: column;
         .s-lbox{width: 100%;   height: 300px; margin-top: 100px;
      .front-box{ display: flex; align-items: center; height: 100%;}
      ul{display: flex; flex-direction: row;  justify-content: space-around; align-items:center; 
         li{width: 70px; box-sizing: border-box; margin: 0 3%;
          
         }
      }}
      .s-rbox{width: 100%;  height: 150px; margin: 50px  0 100px;
      .design-box{ width: 100%; background: white;height: 100%;  margin: 0 auto;  border-radius: 50px;
      ul{display: flex; flex-direction: row;  justify-content: space-around; align-items: center; width: 100%; box-sizing: border-box; align-items: center; height: 150px; padding: 0 10%;
         li{width:70px
          
         } 
      }}
      
      }
     .cir{position: absolute; background: #ffdf6b; border:solid white 8px; border-radius: 50%;}
      .cir-1{position: absolute; top: -10%; left: -5%; width: 40%; padding-bottom: 40%;} 
      .cir-2{position: absolute; bottom: 3%; left: 2%; width: 7%; padding-bottom: 7%; border: none; } 
      .cir-3{position: absolute; bottom: -15%; right: -10%; width: 45%; padding-bottom: 45%;}  
      }
      
      
      }
  
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
   .skill-sec{
           .s-wrap{ padding: 0 10%; box-sizing: border-box; justify-content: space-between; flex-direction: column;
              .s-lbox{width: 100%;   height: 200px; margin-top: 100px;
           .front-box{  height: 100%; border-radius: 50px;}
           ul{
              li{width: 50px; box-sizing: border-box; margin: 0 3%;
               
              }
           }}
           .s-rbox{width: 100%;  height: 100px; margin: 50px  0 100px;
           .design-box{ width: 100%; background: white;height: 100%;  margin: 0 auto;  border-radius: 30px;
           ul{display: flex; flex-direction: row;  justify-content: space-around; align-items: center; width: 100%; box-sizing: border-box;  height: 100%;  padding: 0 10%;
              li{width:50px
               
              } 
           }}
           
           }
          .cir{position: absolute; background: #ffdf6b; border:solid white 8px; border-radius: 50%;}
           .cir-1{position: absolute; top: -10%; left: -5%; width: 40%; padding-bottom: 40%;} 
           .cir-2{position: absolute; bottom: 3%; left: 2%; width: 7%; padding-bottom: 7%; border: none; } 
           .cir-3{position: absolute; bottom: -15%; right: -10%; width: 45%; padding-bottom: 45%;}  
           }
           
           
           }
       
  
}
