@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
*{   font-family: "Archivo Black", sans-serif;}
.profile-sec {  overflow: hidden;
   width: 100%;  background: #87beff;  position: relative;   height: 100vh; padding-left: 2.5%; padding-top: 5%; box-sizing: border-box;
   h1 {color: white;  font-size: 5rem;  max-width: 1440px; width: 100%; display: block; 
      span{  position: absolute;}
   }
  .pr-wrap { max-width: 1440px; width: 100%; display: flex; justify-content: center; text-align: center;
   .p-lbox { position: relative;  padding-bottom: 55.26%;
      width: 40%; 
  
     
         img {
   
         width:55rem;
 
         } 
      
   }
   .p-rbox {   width: 60%;  text-align: left; margin-top: -3%; box-sizing: border-box; padding-left: 3%;
      .edu-box {
         h2 {font-size: 3rem; margin-bottom: 20px;font-weight: bolder;
         }
         .edu-trbox {
            tr {font-size: 1.8rem; font-weight: bold;
               td {padding: 0 20px; font-weight: 800; text-align: left;
               }
            }
         }
      }
    .con-wrap{ 
      display: flex; align-items: center;  .sns-box {
         h2 { font-size: 3rem; margin-bottom: 20px;font-weight: bolder; margin-top: 30px;
         }
         ul {display: flex; width: 100%;
            li {width:5rem;
               a {width: 90%;
                  .git { 
                 font-size: 3rem;
                  }
                  .insta {
                     font-size: 3rem;
                  }
               }
            }
         }
      }
      .contact-box { margin-top: 10px; margin-right: 10%;
         h2 { font-size: 3rem; margin-bottom: 20px;font-weight: bolder; margin-top: 30px; 
         }
         .con-trbox {
            tr {font-size: 1.8rem; font-weight: bold;
               td {padding: 0 20px; font-weight: 800; text-align: left;
               }
            }
         }
      }}
      .des-big { width: 120%; margin-top: 30px; color: rgba(255, 255, 255, 0.902); display: block; font-size: 6.5rem; font-weight: bold;
         strong{font-size: 7.3rem; font-weight: bolder; color: white; } 
      }
   }}
   .cir-1{ position: absolute; width: 30%; padding-bottom: 30%; border:10px solid white ; border-radius: 100%; right: -10%; bottom: -20%;   
      animation-name: cir1;
      animation-duration: 4s;
      animation-timing-function: ease; /* 수정된 부분 */
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      transition: 0.3s;
      @keyframes cir1 {
         0% {
         transform: rotate(5deg);
         }
       
         100% {
            transform: rotate(-10deg);
         }
      }

      .eye-1{ width: 8%; padding-bottom: 20%; position: absolute; top: 15%; left: 13%; background: white; border-radius: 50%;} 
      .eye-2{ width: 8%; padding-bottom: 20%; position: absolute; top: 13%; left: 28%; background: white; border-radius: 50%;} 
   }
}


//  eptmzmxkq

@media all and (min-width:1284px) and (max-width:1540px) { 
  
  
} 


/* 테블릿 가로 (해상도 1023px ~ 1284px)*/ 
@media all and (min-width:1023px) and (max-width:1284px) { 
   .profile-sec {  
    height: fit-content;
      h1 {
         span{   }
      }
     .pr-wrap { align-items: center;box-sizing: border-box; height: 100%; margin-top: -10%;
      .p-lbox { 
        padding-bottom: 300px;
     padding-top:20%; box-sizing: border-box;
        
            img {
      
          
    
            } 
         
      }
      .p-rbox {   margin-top: 0%; 
         .edu-box {
            h2 {font-size: 3rem; margin-bottom: 25px;font-weight: bolder;
            }
            .edu-trbox {
               tr {font-size: 1.8rem; font-weight: bold;
                  td {padding: 0 20px; font-weight: 800; text-align: left;
                  }
               }
            }
         }
       .con-wrap{ 
       align-items: start;  flex-direction: column; 
       .sns-box {
            h2 { font-size: 3rem; margin-bottom: 25px;
            }
            ul {display: flex; width: 100%;
               li {width:5rem; margin-right: 20px;
                  a {
                     .git { 
                    font-size: 5rem;
                     }
                     .insta {
                        font-size: 5rem; 
                     }
                  }
               }
            }
         }
         .contact-box { margin-top: 10px; margin-right: 10%;
            h2 {  margin-bottom: 25px;
            }
            .con-trbox {
               tr {font-size: 1.8rem; font-weight: bold;
                  td {padding: 0 20px; font-weight: 800; text-align: left;
                  }
               }
            }
         }}
         .des-big {margin-top: 30px; color: rgba(255, 255, 255, 0.902); display: block; font-size: 6.5rem; font-weight: bold;
            strong{font-size: 7.3rem; font-weight: bolder; color: white;}
         }
      }}
      .cir-1{ position: absolute; width: 30%; padding-bottom: 30%; border:10px solid white ; border-radius: 100%; right: -10%; bottom: -20%;
         .eye-1{ width: 8%; padding-bottom: 20%; position: absolute; top: 15%; left: 13%; background: white; border-radius: 50%;} 
         .eye-2{ width: 8%; padding-bottom: 20%; position: absolute; top: 13%; left: 28%; background: white; border-radius: 50%;} 
      }
   }
   
   
 

} 
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:781px) and (max-width:1023px) { 

   .profile-sec {  
    height: fit-content; padding-bottom: 10%;
      h1 {
         span{   }
      }
     .pr-wrap { flex-direction: column; text-align: left;
      .p-lbox { 
         width: 100%;  
        padding: 0;
     margin-top: 0%;
        
           .imgbox{ margin-top: 3%;
            img {
      
          
    
            } }
         
      }
      .p-rbox {   margin-top: 5%;  padding: 0 5%;width: 100%; text-align: left;
         .edu-box { text-align: left;
            h2 {font-size: 3rem; margin-bottom: 25px;font-weight: bolder;width: 100%;
            }
            .edu-trbox { width: 100%; text-align: right;
               tr {font-size: 2rem; font-weight: bold;
                  td {padding: 0 10px; font-weight: 800;  text-align: left;
                  }
               }
            }
         }
       .con-wrap{ 
        flex-direction: row;  align-items: center; justify-content: start;
       .sns-box {
            h2 { font-size: 3rem; margin-bottom: 25px;
            }
            ul {display: flex; width: 100%;
               li {width:5rem; margin-right: 20px;
                  a {
                     .git { 
                    font-size: 5rem;
                     }
                     .insta {
                        font-size: 5rem; 
                     }
                  }
               }
            }
         }
         .contact-box { margin-top: 10px; margin-right: 10%;
            h2 {  margin-bottom: 25px;
            }
            .con-trbox {
               tr {font-size: 1.8rem; font-weight: bold;
                  td {padding: 0 20px; font-weight: 800; text-align: left;
                  }
               }
            }
         }}
         .des-big {position: absolute; top: 20%;right: 3%; text-align: right;
         }
      }}
      .cir-1{ position: absolute; width: 30%; padding-bottom: 30%; border:10px solid white ; border-radius: 100%; right: -10%; bottom: -13%;
         .eye-1{ width: 8%; padding-bottom: 20%; position: absolute; top: 15%; left: 13%; background: white; border-radius: 50%;} 
         .eye-2{ width: 8%; padding-bottom: 20%; position: absolute; top: 13%; left: 28%; background: white; border-radius: 50%;} 
      }
   }
   

} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:780px) {
   
  
   .profile-sec {  
      height: fit-content; padding-bottom: 10%;
      h1 {
         span{   }
      }
     .pr-wrap { flex-direction: column; text-align: left;
      .p-lbox { 
         width: 100%;  
        padding: 0;
     margin-top: 0%;
        
           .imgbox{text-align: left;
            img {
               margin: 0 auto;
          
    
            } }
         
      }
      .p-rbox {    padding: 0 5%;width: 100%; text-align: left; margin-top: 5%;
         .edu-box { text-align: left;
            h2 {font-size: 3rem; margin-bottom: 25px;font-weight: bolder;width: 100%;
            }
            .edu-trbox { width: 100%; text-align: left;
               tr {font-size: 2rem; font-weight: bold;
                  td {padding: 0 10px; font-weight: 800;  text-align: left;
                  }
               }
            }
         }
       .con-wrap{ 
      justify-content: start;
       .sns-box {
            h2 { margin-bottom: 25px;
            }
            ul {
               li {width:5rem; margin-right: 20px;
                  a {
                     .git { 
                    font-size: 5rem;
                     }
                     .insta {
                        font-size: 5rem; 
                     }
                  }
               }
            }
         }
         .contact-box { margin-top: 10px; 
            h2 {  margin-bottom: 25px;
            }
            .con-trbox {
               tr {font-size: 1.8rem; font-weight: bold;
                  td {padding: 0 20px; font-weight: 800; text-align: left;
                  }
               }
            }
         }}
         .des-big {position: absolute; top: 15%;right: 2%; text-align: right; width: 51.5%;
         }
      }}
      .cir-1{ position: absolute; width: 30%; padding-bottom: 30%; border:10px solid white ; border-radius: 100%; right: -10%; bottom: -13%;
       
      }
   }
   
  
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    
   .profile-sec {   height: fit-content; padding-bottom: 50px;
    
      h1 { position: absolute; top: 50px; left: 10%;
         span{   }
      }
     .pr-wrap { flex-direction: column; text-align: left;
      .p-lbox {  
         width: 100%;  
        padding: 0;
     margin-top: 0%;
        
           .imgbox{text-align: center; width: 100%; margin-top: 20%;
            img {width: 75%;
               margin: 0 auto;
          
    
            } }
         
      }
      .p-rbox {    padding: 0 3%;width: 100%; text-align: left;  display: flex; flex-direction: column;
         .edu-box { text-align: left; order: 2; margin-top: 15px;
            h2 {font-size: 3rem; margin-bottom: 10px;font-weight: bolder;width: 100%;
            }
            .edu-trbox { width: 100%; text-align: left;
               tr {font-size: 2rem; font-weight: bold;
                  td {padding: 0 10px; font-weight: 800;  text-align: left;
                  }
               }
            }
         }
       .con-wrap{ order: 3;
      justify-content: start;
       .sns-box {
            h2 { margin-bottom: 25px;
            }
            ul {
               li {width:5rem; margin-right: 20px;
                  a {
                     .git { 
                    font-size: 5rem;
                     }
                     .insta {
                        font-size: 5rem; 
                     }
                  }
               }
            }
         }
         .contact-box { margin-top: 10px;  
            h2 {  margin-bottom: 5px; margin-top: 10px;
            }
            .con-trbox {
               tr {font-size: 1.8rem; font-weight: bold;
                  td {padding: 0 20px; font-weight: 800; text-align: left;
                  }
               }
            }
         }}
         .des-big {order: 1;
         }
      }}
      .cir-1{ position: absolute; width: 50%; padding-bottom: 50%; border:10px solid rgba(213, 242, 255, 0.548) ; border-radius: 100%; right: -10%; bottom: -13%;
         .eye-1{ width: 8%; padding-bottom: 20%; position: absolute; top: 15%; left: 13%; background: rgba(213, 242, 255, 0.548); border-radius: 50%;} 
         .eye-2{ width: 8%; padding-bottom: 20%; position: absolute; top: 13%; left: 28%; background:rgba(213, 242, 255, 0.548); border-radius: 50%;} 
      }
   }
   
  
 
         }