@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
*{   font-family: "Archivo Black", sans-serif;}
.profile-sec {  overflow: hidden;
   width: 100%;  background: #87beff; display: flex; position: relative;   padding-bottom: 55.26%; height: 0;
   h1 {color: white;  font-size: 5rem; position: absolute; top: 10%;left: 13%;
      span{left: -25%; position: absolute;}
   }
   .p-lbox { position: relative;  padding-bottom: 55.26%;
      width: 40%; display: flex; justify-content: center; text-align: center;
  
     
         img {
      position: absolute; left: 10%;
         width:55rem;
   top: 20%; 
   left: 5%; 
         } 
      
   }
   .p-rbox {   width: 60%; padding-top: 11%;  
      .edu-box {
         h2 {font-size: 3rem; margin-bottom: 20px;font-weight: bolder;
         }
         .edu-trbox {
            tr {font-size: 1.8rem; font-weight: bold;
               td {padding: 0 20px; font-weight: 800; text-align: left;
               }
            }
         }
      }
    .con-wrap{ 
      display: flex; align-items: center;  .sns-box {
         h2 { font-size: 3rem; margin-bottom: 20px;font-weight: bolder; margin-top: 30px;
         }
         ul {display: flex; width: 100%;
            li {width:5rem;
               a {width: 90%;
                  .git { 
                 font-size: 3rem;
                  }
                  .insta {
                     font-size: 3rem;
                  }
               }
            }
         }
      }
      .contact-box { margin-top: 10px; margin-right: 10%;
         h2 { font-size: 3rem; margin-bottom: 20px;font-weight: bolder; margin-top: 30px;
         }
         .con-trbox {
            tr {font-size: 1.8rem; font-weight: bold;
               td {padding: 0 20px; font-weight: 800; text-align: left;
               }
            }
         }
      }}
      .des-big {margin-top: 30px; color: rgba(255, 255, 255, 0.902); display: block; font-size: 6.5rem; font-weight: bold;
         strong{font-size: 7.3rem; font-weight: bolder; color: white;}
      }
   }
   .cir-1{ position: absolute; width: 30%; padding-bottom: 30%; border:10px solid white ; border-radius: 100%; right: -10%; bottom: -20%;
      .eye-1{ width: 8%; padding-bottom: 20%; position: absolute; top: 15%; left: 13%; background: white; border-radius: 50%;} 
      .eye-2{ width: 8%; padding-bottom: 20%; position: absolute; top: 13%; left: 28%; background: white; border-radius: 50%;} 
   }
}


// 모바일

@import "./mixin";




// 데스크탑  1500px ~ 1800px;
@include desktop {
	
}


// 노트북에서 데스크탑   1024px ~ 1500px 
@include desktopToLaptop {
	
}


// 노트북 960px ~ 1024px
@include laptop {
   
	
}


// 태블릿에서 노트북 720px ~ 960px
@include laptopToTablet {

}


// 태블릿   535px ~ 720px;
@include tablet {

}


// 모바일에서 태블릿  335px ~ 535px;
@include tabletToMobile  {

}


// 모바일   335px;
@include mobile  {

}